@import url(fontawesome.css);
/*@import url("<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">");*/
body {
    font-family: 'Montserrat', sans-serif;
}


*{
    padding:0;
    margin:0;
}

.adminlogin{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    /* Add your background pattern here */
    /* background-color: lightblue; */
    background-color: #212121;
}

#home{
  position: absolute;
  top:30px;
  left:20px;
}

.form-container {
  width:30%;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(120deg, transparent 25%, #1cb0ff, #40ff99) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  
}

@media only screen and (max-width: 1000px){
  .form-container {
    width:80%;
    background: linear-gradient(#212121, #212121) padding-box,
      linear-gradient(120deg, transparent 25%, #1cb0ff, #40ff99) border-box;
    border: 2px solid transparent;
    padding: 32px 24px;
    font-size: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
  }

  .form {
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.form {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
 
}

.heading {
  font-size: 20px;
  font-weight: 600;
}

.form-input {
  width:100%;
  color: white;
  background: transparent;
  border: 1px solid #414141;
  border-radius: 5px;
  padding: 8px;
  outline: none;
}

button {
  border-radius: 5px;
  padding: 8px;
  background: #ffffff14;
  color: #c7c5c5;
  border: 1px solid #414141;
}

button:hover {
  background: #212121;
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #414141;
  position: relative;
}

.form-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  pointer-events: none;
  transition: 0.5s;
}

.form-group input:focus ~ label,
.form-group input:valid ~ label {
  top: -16px;
  left: 0;
  background: #212121 padding-box;
  padding: 10px 0 0 0;
  color: #bdb8b8;

  font-size: 12px;
}

.adminbutton{
  width:100%;
  display:flex;
  justify-content: space-between;
}